/* mobile & tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    :root {
        --header-height: 70px;
        --navbar-height: 0px;
    }

    .header {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
    }

    .mobile-category {
        display: flex;
    }

    .fas.header_mobile-search-icon {
        display: inline-block;
    }

    .container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));

    }

    .cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }

    .bridge-cart {
        display: none;
    }

    .header_sort-bar {
        display: flex;
    }

    .container-content {
        padding-top: 8px;
    }

}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .cart {
        width: 70px;
        text-align: right;
    }
}

/* mobile */
@media (max-width: 739px) {
    :root {
        --header-height: 120px;
        --navbar-height: 0px;
    }

    .hide-on-mobile {
        display: none;
    }

    .header_search {
        justify-content: space-between;
    }

    .header_logo {
        width: unset;
    }

    .cart {
        width: unset;
    }

    .search {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        height: 46px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        z-index: 1;
        padding: 0 16px;
        animation: mobile-search linear 0.3s;
        display: none;
    }

    #mobile-search-checkbox:checked~.search {
        display: flex;
    }

    .search-history {
        position: fixed;
        width: 100%;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        left: 0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        animation: faceIn linear 0.2s;
    }

    .pagination-item {
        margin: 0;
    }

    .pagination-link {
        --height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
    }

    .container-content {
        margin: 0;
    }

    .footer-heading {
        text-align: center;
    }

    .footer-link {
        justify-content: center;
    }

    .footer-item {
        margin: 8px 78px;
    }

    .personal-brand {
        margin: 0 0 0 46px;
    }

    @keyframes mobile-search {
        from {
            top: calc(var(--header-height) / 2);
            opacity: 0;
        }

        to {
            top: var(--header-height);
            opacity: 1;
        }
    }
}